<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Catering Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="#">Catering Management System</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">Piatti Management</li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Create New Piatto</h1>
				<div class="card-body">
					<form
						th:action="@{/administration/piatti/{buffet_id}(buffet_id=${buffet_id})}"
						th:object="${piatto}" method="POST">
						<div class="form-group">
							<label>Nome</label> <input type="text" name="nome"
								th:field="*{nome}" class="form-control"
								placeholder="Inserisci il nome" />
						</div>

						<div class="form-group">
							<label>Descrizione</label> <input type="text" name="descrizione"
								th:field="*{descrizione}" class="form-control"
								placeholder="Inserisci la descrizione" />
						</div>
						<div class="form-group">
							<label>Ingredienti</label>
							<div>
								<select class="form-control" th:field="*{ingredienti}" multiple="multiple">
									<option th:each="ingrediente: ${tuttiGliIngredienti}"
											th:value="${ingrediente.id}"
											th:text="${ingrediente.nome}"											
									>1</option>
								</select>
							</div>
						</div>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Invia</button>
						</div>
					</form>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<a th:href="@{/administration/buffets}"
					class="btn btn-primary btn-sm mb-3"> Back</a>
			</div>
		</div>
	</div>
</body>
</html>