<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Catering Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="/administration">Catering Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link">Buffet Management</a>
      </li>
    </ul>
  </div>
</nav>

	<div class ="container">
		<div class = "row">
			<h1> Elenco dei Buffet </h1>
		</div>
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					<th>Nome</th>
					<th>Descrizione</th>
					<th>Operazione</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "buffet: ${buffets}">
					<td th:text = "${buffet.nome}"></td>
					<td th:text = "${buffet.descrizione}"></td>
					<td>
						
						<a th:href = "@{/administration/buffets/del/{id}(id=${buffet.id})}"
						 class = "btn btn-danger">Delete</a>
						 <a th:href="@{/administration/piatti/new/{buffet_id}(buffet_id=${buffet.id})}"
						class="btn btn-success">Add Piatto</a>
						 <a th:href="@{/administration/piatti/buffet/{buffet_id}(buffet_id=${buffet.id})}"
						class="btn btn-info">Guarda i Piatti</a></td>
					</td>
				</tr>
			</tbody>
		
		</table>
		<div class="row">
			<div class="col-lg-3">
				<a th:href="@{/administration}" class="btn btn-primary btn-sm mb-3">
					Back</a>
			</div>
		</div>
	</div>
</body>
</html>