<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Catering Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="#">Catering Management System</a>
	</nav>
	<nav class="navbar navbar-expand-md bg-light navbar-dark">
		<a class="navbar-brand" th:text="'Ciao, ' + ${admin.nome}">Catering Management System</a>
	</nav>	
	<div>
		<ul class="list-group">
			<li class="list-group-item">
			<a href="/administration/chefs">Chef Management</a>
			</li>
			<li class="list-group-item"><a href="/administration/buffets">Buffet
					Management</a></li>
			<li class="list-group-item"><a href="/administration/piatti">Piatti
					Management</a></li>
			<li class="list-group-item"><a href="/administration/ingredienti">Ingredienti
					Management</a></li>
		</ul>
	</div>
	<p></p>
	<div class="row" align="center">
		<div class="col-lg-3">
			<a href="/index" class="btn btn-primary btn-sm mb-3">
				HomePage</a>
			<a href="/logout" class="btn btn-primary btn-sm mb-3">
				Logout</a>
		</div>
	</div>
</body>
</html>