<html>
<head>
<meta charset="utf-8" />
<title>Catering Service</title>
<link rel="stylesheet" href="css/main_page.css" />
<link rel="icon"
	href="https://th.bing.com/th/id/OIP.EPT5ubvFjuQG60TeMX-66wHaFj?pid=ImgDet&rs=1">
</head>
<div class="header">
	<div class="sides" align="center">
		<a href="#abt_us" class="contact">Chi siamo</a> <a href="/our_chefs"
			class="contact">I nostri Chef</a> <a href="/our_piatti" class="contact">I nostri piatti</a>
	</div>
	<div class="info">
		<h3>
			<a>Roma</a>
		</h3>
		<h1>Catering Service</h1>
		<a class="logo"></a>
	</div>
</div>
<section class="content_pres">
	<p>Servizio di catering per ogni tipo di evento e occasione,
		disponiamo di Chef di livello nazionale ed internazionale. Proponiamo
		buffet pensati ed elaborati dai nostri stessi Chef, prestando molta
		attenzione alla qualità e provenienza dei nostri ingredienti.</p>
	<p>Prediligiamo la scelta di alimenti provenienti dal nostro
		territorio, per supportare l'economia locale e garantire che i
		prodotti che acquistiamo rispettino i principi di agricoltura e
		allevamento sostenibile.</p>
	<p>Garantiamo una qualità del servizio alta, il nostro obiettivo è
		sempre stato e sempre sarà quello di soddisfare le richieste dei
		nostri clienti.
</section>
<section id=abt_us class="content">
	<p class="intr" align="center">Chi siamo</p>
	<p>Siamo un'azienza familiare che viene portata avanti da tre
		generazioni. La nostra avventura è iniziata a Roma nel 1982 da nostro
		nonno Lino, e oggi, 40 anni dopo, siamo noi nipoti a portarla avanti.
		</p>
	<p>La nostra famiglia è stata sempre caratterizzata da una forte passione
		per la ristorazione e la cucina, speriamo che i nostri servizi
		riescano a trasmetterla.</p>
	<p align="center">
		<a href="https://instagram.com" class="btn twtr" target="_b">Seguici
			su Instagram</a>
	</p>
</section>
<p class="intr" align="center">Dove potete trovarci</p>
<div id="mappa">
			<iframe 
			src="https://maps.google.com/maps?q=viale%20dell'oceano%20atlantico,%20191,%20Roma&amp;t=k&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed">
			</iframe>
</div>
</html>