<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Catering Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="#">Catering Management System</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">Chef Management</li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Create New Chef</h1>
				<div class="card-body">
					<form th:action="@{/administration/chefs}" th:object="${chef}"
						method="POST" class="needs-validation" novalidate>
						<div class="form-group">
							<label>Nome</label> <input type="text"
								name="nome" th:field="*{nome}" class="form-control"
								placeholder="Inserisci il nome" />
							<div>
								<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
							</div>
						</div>

						<div class="form-group">
							<label>Cognome</label> <input
								type="text" name="cognome" th:field="*{cognome}"
								class="form-control" placeholder="Inserisci il cognome" />
							<div>
								<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
							</div>
						</div>

						<div class="form-group">
							<label>Nazionalita</label> <input
								type="text" name="nazionalita" th:field="*{nazionalita}"
								class="form-control" placeholder="Inserisci la nazionalita" />
							<div>
								<span th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></span>
							</div>
						</div>

						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Invia</button>
						</div>
					</form>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<a th:href="@{/administration/chefs}"
					class="btn btn-primary btn-sm mb-3"> Back</a>
			</div>
		</div>
	</div>
</body>
</html>